@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}


.img {
  width: 45rem;
  height: 28rem;
  /* position: absolute;
      right:20rem;
      top:12rem;  */
  z-index: 1;
}
.aws-btn {
  --button-default-height: 53px;
  --button-default-font-size: 15px;
  --button-default-border-radius: 17px;
  --button-horizontal-padding: 18px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.225s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-color-active: #166dba;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-color-active: #cfdee9;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-color-active: #0c4271;
  --button-anchor-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}
.magnify {
  transition: transform 0.3s;
}

.magnify:hover {
  transform: scale(1.5);
}
.transihome{
  transition: hello;
}
@keyframes hello {
  0% {
      top: 0px;
      background: red;
      width: 100px;
    }
  
    100% {
      top: 200px;
      background: yellow;
      width: 300px;
    }
}
.bg1{
background-image: url(./assets/images/benefitBg.png);
background-repeat: no-repeat;
background-size: cover;
}
.gallery{
  background-image: url(./assets/images/joinMainBg.png);
 
}